**__pycache__/
**/__pycache__/
djangoenv/
*.pyc
django/
**/.vscode
koenvs_home/temporary/generated/*
koenvs_home/static/media/temporary/*.svg
koenvs_home/temporary/*
geckodriver.log
*/.vscode
*/node_modules