{% extends 'base.html' %}

{% block head %}
<title>KoenVS - Dimming</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dimming.css' %}">
<script type="text/javascript" defer>
    let selected = JSON.parse("{{ selected | escapejs }}")
    console.log(selected)
</script>
<script type="text/javascript" src="{% static 'js/dimming.js' %}" defer></script>
{% endblock %}

{% block header %}
<div id="header_title_container">
    <h1>Dimming</h1>
</div>
{% endblock %}

{% block main %}
<div id="main_div">
    <div id="selection_container" class="main">
        <div class="selection_col row_top">
            <div id="file_entry" class="selection_col_child col_left">
                <form method="post" enctype="multipart/form-data" action="{% url 'dimming:index' %}">
                    {% csrf_token %}
                    <label class="file_ele">Choose CSV file(s) with plotting data:<br>
                        <input type="file" class="file_ele" id="file_input" name="file_input" accept=".csv"
                            multiple></label><br>
                    <input type="submit" class="sub_button" value="Submit">
                </form>
            </div>
            <div id="file_other" class="selection_col_child col_right">
                <form method="POST" action="{% url 'dimming:index' %}">
                    {% csrf_token %}
                    <input type="submit" name="file_other" value="clear available files">
                </form>
            </div>
        </div>

        <!-- TODO: add a div that handles saving of the image file -->
        <!-- <div id="save_file">

        </div> -->
        <div class="selection_col row_not_top">
            <div id="plot_selection" class="selection_col_child col_left">
                <h2>Available files:</h2>
                <form method="post" action="{% url 'dimming:index' %}">
                    {% csrf_token %}
                    {% for file in csvfiles %}
                    <label><input type="checkbox" class="checkbox" name="check_files" value="{{ file }}">
                        {{ file }}</label><br>
                    {% endfor %}
                    <input type="submit" class="sub_button" value="update graph">
            </div>
            <div id="limit_selection" class="selection_col_child col_right">
                <h2>Available limitlines:</h2>
                {% for file in limitfiles %}
                <label><input type="checkbox" class="checkbox" name="check_limits" value="{{ file }}">
                    {{ file }}</label><br>
                {% endfor %}
                <input type="submit" class="sub_button" value="update graph">
                </form>
            </div>
        </div>
    </div>
    <div id="image_container" class="main">
        {% load static %}
        <img id="dimm_image" src="{% static 'media/temporary/temp.svg' %}" type="image/svg">
    </div>
</div>
{% endblock%}

{% block footer %}

{% endblock%}