{% extends 'base.html' %}

{% block head %}
<title>KoenVS - Params Detail</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/params_detail.css' %}">
{% endblock %}

{% block header %}
<div id="header_title_container">
    <h1>Params</h1>
</div>
{% endblock %}

{% block main %}
<div id="main_div">
    {% for line in param %}
    <div class="param">{{ line.0 }} on {{ line.1 }}: <input type="text" size="1" value="{{ line.2 }}"></div>
    {% endfor %}
</div>

{% endblock%}

{% block footer %}

{% endblock%}