{% extends 'base.html' %}

{% block head %}
<title>KoenVS - Params Detail</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/params_detail.css' %}">
{% endblock %}

{% block header %}
<div id="header_title_container">
    <h1>Params</h1>
</div>
{% endblock %}

{% block main %}
<div id="main_div">
    <div id="control">
        PUT CODE TO SAVE --> CHANGE SQL DB
    </div>
    <div id="show">
        {% for s in split %}
        <div>
            {% for line in s %}
            <div class="param">
                <div class="param_label">
                    {{ line.0 }}:
                </div>
                <div class="param_input"><input type="text" size="1" value="{{ line.2 }}"></div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock%}

{% block footer %}

{% endblock%}