{% extends 'base.html' %}

{% block head %}
<title>KoenVS - Params Detail</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/params_detail.css' %}">
{% endblock %}

{% block header %}
<div id="header_title_container">
    <h1>Params</h1>
</div>
{% endblock %}

{% block main %}
<div id="main_div">
    <div id="control">
        <form method="post" id="form_control" action="{% url 'params:detail' param_id %}">
            {% csrf_token %}
            <label>&nbsp;CSV name: <input type="text" id="csv_entry" size="30" name="csv_entry"
                    value="{{ text_info.csv_name }}"></label>
            <label>&nbsp;Short name: <input type="text" id="short_entry" size="25" name="short_entry"
                    value="{{ text_info.short_name }}"></label>
            <label>&nbsp;Category: <input type="text" id="cat_entry" size="1" name="cat_entry"
                    value="{{ text_info.category }}"></label>
            <input type="text" hidden id="data" name="data" value="">
            <input id="export" type="text" hidden name="export" value="data">
            <p><b>Message: {{ process_message|default:"No message" }}</b></p>
        </form>
    </div>
    <div id="show">
        <div id="entries">
            {% for line in tuples %}
            <div style="background-color: {{ line.3 }};" class="param">
                <div class="param_label">
                    {{ line.0 }}:
                </div>
                <div class="param_input"><input type="text" class="byte" id="byte{{line.1}}" size="1"
                        value="{{ line.2 }}"></div>
            </div>
            {% endfor %}
        </div>
        <div id="adjust">
            <button id="csv_exp">Export to CSV</button>
            <button id="db_update">Save to DB</button>
            <button id="set_prog">Prog to today</button>
            <button id="set_release">Release to today</button>
            <button id="adjust_flux">Adjust Flux</button>
            <label>Flux: <input type="text" size="1" id="flux_input"></label>
            <button id="default_regular">Set default (inset)</button>
            <button id="default_sign">Set default (sign)</button>
            <a href="{% url 'params:index' %}">Back to params</a>
        </div>
    </div>
</div>

{% endblock%}

{% block footer %}

{% endblock%}

{% block scriptend %}
<!-- - page needs to render first before you can find these element -->
<script defer>
    const defParams = '{{ request.session.default_params | escapejs }}'.replace(/'/g, '"');
    const updateDB = document.querySelector("#db_update");
    const exportCSV = document.querySelector("#csv_exp");
    const paramList = document.querySelectorAll(".param");
    const byteList = document.querySelectorAll(".byte");

    updateDB.addEventListener("click", () => {
        document.querySelector("#data").setAttribute("value", JSON.stringify(getData(paramList)));
        document.querySelector("#export").value = "data";
        document.querySelector("#form_control").submit();
    });
    exportCSV.addEventListener("click", () => {
        document.querySelector("#data").setAttribute("value", JSON.stringify(getData(paramList)));
        document.querySelector("#export").value = "export_csv";
        document.querySelector("#form_control").submit();
    })
</script>
<script type="text/javascript" src="{% static 'js/params_detail.js' %}" defer></script>
{% endblock %}