{% extends 'base.html' %}

{% block head %}
<title>KoenVS - Params</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/params.css' %}">
{% endblock %}

{% block header %}
<div id="header_title_container">
    <h1>Params</h1>
</div>
{% endblock %}

{% block main %}
<div class="main_div">
    <div id="control_div">
        <div id="upload">
            <form id="input_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Category: <input type="text" size="5" name="category"></label>
                <input type="file" name="files_upload" accept=".csv" multiple>
                <input type="submit" value="Submit file(s)">
                <p>{{ input_message }}</p>
            </form>
        </div>
        <div>

        </div>
    </div>
    <div id="table_div">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Basic info</th>
                    <th colspan="4">General LED info</th>
                    <th colspan="9">Dimming Curve / Flux info</th>
                    <!-- <th colspan="2">Driver info</th> -->
                    <th class="det" rowspan="2">Detail</th>
                </tr>
                <tr>
                    <!-- General information -->
                    <!-- <th class="id">ID</th> -->
                    <!-- <th>Short name</th> -->
                    <th class="csv">CSV name</th>
                    <th class="cat">Category</th>
                    <!-- LED information -->
                    <th class="led">Vf (V)</th>
                    <th class="led">Curr (mA)</th>
                    <th class="led"># LEDs</th>
                    <th class="led">Adim (mA)</th>
                    <!-- <th>Digital dim (Hz)</th> -->
                    <!-- <th>LED Rev</th> -->
                    <!-- <th>Load Type</th> -->
                    <!-- Dimming curve / flux information-->
                    <th class="dim">1.4A (mA)</th>
                    <th class="dim">2.8A (mA)</th>
                    <th class="dim">3.4A (mA)</th>
                    <th class="dim">4.1A (mA)</th>
                    <th class="dim">4.8A (mA)</th>
                    <th class="dim">5.2A (mA)</th>
                    <th class="dim">5.5A (mA)</th>
                    <th class="dim">6.6A (mA)</th>
                    <th class="dim">Flux (%)</th>
                </tr>
            </thead>
        </table>
        <div id="body">
            <table>
                <tbody>
                    {% for param in parameter_list %}
                    <tr>
                        <!-- General information -->
                        <!-- <td class="id">{{param.id}}</td> -->
                        <!-- <td>{{param.short_name}}</td> -->
                        <td class="csv">
                            <p id="foo">{{param.csv_name}}</p>
                        </td>
                        <td class="cat">{{param.category}}</td>
                        <!-- LED information -->
                        <td class="led">{{param.real_nom_voltage}}</td>
                        <td class="led">{{param.nominal_current_2b}}</td>
                        <td class="led">{{param.number_of_leds_1b}}</td>
                        <td class="led">{{param.min_lin_dim_2b}}</td>
                        <!-- <td>{{param.digital_dim_freq_2b}}</td> -->
                        <!-- <td>{{param.led_revision_1b}}</td> -->
                        <!-- <td>{{param.load_type_1b}}</td> -->
                        <!-- Dimming curve -->
                        {% for dim in param.dimming_curve %}
                        <td class="dim">{{dim}}</td>
                        {% endfor %}
                        <td class="dim">{{param.flux_analysis}}</td>
                        <!-- Detail button -->
                        <td class="det">
                            <form method="post" action="{% url 'params:detail' param.id %}">
                                {% csrf_token %}
                                <input class="height" type="text" name="height" value="" hidden>
                                <input class="width" type="text" name="width" value="" hidden>
                                <input class="detail_but" type="submit" value="detail">
                            </form>
                        </td>
                    </tr>

                    {% empty %}
                    <p>No parameter files found in database</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}

{% block footer %}

{% endblock%}

{% block scriptend %}

{% endblock %}