/* ADB colors:
#ADB_blue : #004c5e
#ADB_oranges : #e95b0b, #ed7103, #f49b01, #f8b123 
*/
body {
    height: 100%;
}

/*
    HEADER AND FOOTER
*/

header {
    background-color: #004c5ed8;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 4em;
    display: flex;
    align-items: center;
}

header div h1 {
    padding-left: 15px;
    font-size: 1.5em;
    text-decoration: underline;
    align-content: left;
    color: #f49b01;
}

#header_links_container {
    float: right !important;
    position: absolute;
    right: 0;
}

#header_title_container {
    float: left;
}

.header_link {
    color: #f49b01;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: white;
    border-style: solid;
    border-color: #f49b01;
    display: inline-block;
    border-radius: 10px;
}

.header_link:hover {
    color: #004c5ed8;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #004c5ed8;
}

footer div {
    color: #f49b01;
    text-align: right;
    margin: 5px 15px 5px 0px;
    /* display: inline-block; */
}

main {
    margin-top: 4em;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* bottom: 2em; */
    position: fixed;
}
