.main_div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-content: flex-start;
    height: calc(100% - 30px);
}
#control_div { height: 20%; justify-content: flex-start; }
#upload { 
    height: calc(100% - 10px - 20px);
    margin: 5px 0px 5px 0px;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #f49b01;
}
#input_form > p { margin: 2px; color: #ee3243; }
#table_div { height: 80%; }
#body { overflow-y: auto; height: calc(100% - 54px); scrollbar-width: none; }
table { border-collapse: collapse; width: 100%; }
th, td { 
    padding: 5px;
    border: 1px solid gray;
    font: 1em "Arial", sans-serif;
    text-align: center;
    line-height: 1em;
}
#foo {
    width: 100%;
    overflow: hidden;
    height: 1em;
    margin: 0;
    word-break: break-all;
}
.detail_but { 
    background-color: lightgreen;
    color: white;
    border-color: gray;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.detail_but:hover { background-color: white; color: gray; border-color: gray;}
.csv { width: 25%; }
.cat { width: 5%; }
.led { width: 5%; }
.dim { width: 5%; }
.det { width: 5%; }
td.csv { text-align: left; }
tr > th { background-color: rgb(4, 87, 105); color: white; }
tbody > tr { color: gray; }
tbody > tr:hover { background-color: #f49b01;}