main {
    margin-top: 4em;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* bottom: 2em; */
    position: fixed;
}

.main_div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#main_form { position: relative; }
#term_div { overflow-y: hidden; }

#comm_butt_div {
    border-style: solid;
    border-width: 4px;
    border-color: #004c5ed8;
    padding: 0.8% 0.75% 0.8% 0.75%;
    margin-bottom: 5px;
    margin-top: 10px;
}

.ser_button {
    color: white;
    border-radius: 5px;
    width: 16.3%;
    height: 2em;
    word-wrap: break-word;
    font-size: 1em;
    margin-bottom: 2px;
    border-color: gray;
    position: relative;
} 
/* .ser_button.gen:hover, .ser_button.ccr:hover, .ser_button.asp:hover, .ser_button.led:hover */
.ser_button:hover { background-color: white; color: #444444; } 
.gen { background-color: #444444; }
.led { background-color: #dd9999; }
.ccr { background-color: #99dd99; }
.asp { background-color: #6db4e0; }
.man { background-color: #8564be; }

#manual_input { margin-top: 6px; display: flex}
#man_label { float: left; width: 60%; padding-left: 10px; text-align: left; }
#manent_but { width: 27%; }
#pid_label { float: left; width: 40%; padding-right: 10px; text-align: right; }

.args_row {
    border-style: solid;
    border-width: 4px;
    border-color: #004C5E;
    background-color: #ffc258;
    color: white;
    padding: 5px 0.5% 5px 0.5%;
    display: flex;
    align-items: center;
}

.args_col { float: left; width: 33%; }
.arg_lab { height: 2em; }
#args_left { padding-left: 10px; text-align: left; }
#args_mid { text-align: center; }
#args_right { padding-right: 10px; text-align: right; }

#term {
    background-color: #849194;
    /* position: fixed; */
    overflow-y: scroll;
    border-style: solid;
    border-width: 4px;
    border-color: #f49b01;
    color: white;
    word-wrap: break-word;
    min-height: 30em;
    max-height: 35em; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}