<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Questions list</title>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'app02/styles.css' %}">
        <link rel="shortcut icon" href="{% static 'app02/favicon.ico' %}">
    </head>
    <body>
        {% if latest_question_list %} <!-- Kinda like Jinja2 but it's Django's own template engine -->
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'app02:detail' question.id %}">{{ question.question_text }}</a></li>
            <!-- url 'detail' refers to "app01/urls.py" to the named "detail", this way when changing the path there you only need to change it there and not here -->
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </body>
</html>